<div class=container>
  <div class="login-logo">
    <div class="login-box-body">
      <form action="">
        <div>
          <div class="control">
            <label class="label" for="">Nome</label>
            <input class="input" type="text" placeholder="Nome">
          </div>
        </div>
        <div>
          <label class="label" for="">Login</label>
          <div class="control">
            <input class="input" type="password" placeholder="Senha">
          </div>
        </div>
        <div>
          <label class="label" for="">Senha</label>
          <div class="control">
            <input class="input" type="password" placeholder="Insira Senha">
          </div>
        </div>
        <div>
          <label class="label" for="">Confirmação de Senha</label>
          <div class="control">
            <input class="input" type="password" placeholder="Confirme sua Senha">
          </div>
        </div>
        <div class="buttons">
          <button class="button is-dark" routerLink="">Voltar</button>
          <button class="button is-link">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
