<app-menu></app-menu>
<div class="container">
  <h1 class="title">Compromissos de {{usuarioNome}}</h1>
  <div class="">
    <h3 class="" *ngIf="appointmentList.length == 0">NENHUM COMPROMISSOS CADASTRADO</h3>
    <div *ngIf="appointmentList.length > 0">
      <table class="tableConfig">
        <tr class="headerLine">
          <th class="tableCol1">DATA</th>
          <th class="tableCol2">DESCRIÇÃO</th>
        </tr>
        <tr class="" *ngFor="let appointment of appointmentList" (click)='Select(contact)'>
          <td class="tableCol1">{{appointment.data}}</td>
          <td class="tableCol2">{{appointment.obs}}</td>
        </tr>
      </table>
    </div>

    <br/>
    <button class="button is-link" routerLink="/cadastrarContato">Cadastrar Compromisso</button>
  </div>
</div>
