<app-menu></app-menu>
  <div class="container">
    <h1 class="title" *ngIf="router.url == '/cadastrarCompromisso'">Cadastrar Compromisso</h1>
    <h1 class="title" *ngIf="router.url == '/alterarCompromisso'">Alterar Compromisso</h1>
    <form class="field" [formGroup]="compromissoForm" (ngSubmit)="onSubmit()">
      <div class="details">
        <div *ngIf="router.url === '/alterarCompromisso'">
          <label class="label" for="">ID</label>
          <div class="control">
            <input formControlName="id" class="input" type="text">
          </div>
        </div>

        <div>
          <label class="label" for="">Data</label>
          <div class="control">
            <input formControlName="data" class="input" type="date">
          </div>
        </div>

        <div>
          <label class="label" for="">Hora</label>
          <div class="control">
            <input formControlName="hora" class="input" type="time">
          </div>
        </div>

        <div>
          <label class="label" for="">Participantes</label>
          <div class="control">
            <input formControlName="participantes" class="input" type="text">
          </div>
        </div>
      </div>

      <div>
        <label class="label" for="">Endereço</label>
        <div class="control">
          <input formControlName="endereco" class="input" type="text">
        </div>
      </div>

      <div>
        <label class="label" for="">Observações</label>
        <div class="control">
          <input formControlName="obs" class="textarea" type="text">
        </div>
      </div>

      <div>
        <label class="label" for="">Status</label>
        <div class="control">
          <input formControlName="status" class="input" type="text">
        </div>
      </div>


    </form>
    <div class="buttons" *ngIf="router.url === '/cadastrarCompromisso'">
      <button class="button is-link" (click)="novoCompromisso()">Cadastrar</button>
      <button class="button is-dark" routerLink="/compromissos">Voltar</button>
    </div>

    <div class="buttons" *ngIf="router.url === '/alterarCompromisso'">
      <button class="button is-link" (click)="alterarCompromisso()">Alterar</button>
      <button class="button is-dark" routerLink="/compromissos">Voltar</button>
    </div>
  </div>
