<app-menu></app-menu>
<div class="container">
    <h1 class="title" *ngIf="router.url == '/cadastrarContato'">Cadastrar Contato</h1>
    <h1 class="title" *ngIf="router.url == '/alterarContato'">Alterar Contato</h1>
    <form class="field" [formGroup]="contatoForm" (ngSubmit)="onSubmit()">

      <div *ngIf="router.url == '/alterarContato'">
        <label class="label" for="">ID:</label>
        <div class="control">
          <input formControlName="id" class="input" type="text">
        </div>
      </div>

      <div>
        <label class="label" for="">Nome:</label>
        <div class="control">
          <input formControlName="nome" class="input" type="text">
        </div>
      </div>

      <div>
        <label class="label" for="">E-Mail</label>
        <div class="control">
          <input formControlName="email" class="input" type="text">
        </div>
      </div>

      <div>
        <label class="label" for="">Telefone</label>
        <div class="control">
          <input formControlName="telefone" class="input" type="text">
        </div>
      </div>

      <div>
        <label class="label" for="">Endereço</label>
        <div class="control">
          <input formControlName="endereco" class="input" type="text">
        </div>
      </div>

      <div class="buttons" *ngIf="router.url == '/cadastrarContato'">
        <button class="button is-link" (click)="novoContato()">Cadastrar</button>
        <button class="button is-dark" routerLink="/contatos">Voltar</button>
      </div>

      <div class="buttons" *ngIf="router.url == '/alterarContato'">
        <button class="button is-link" (click)="alterarContato()">Alterar</button>
        <button class="button is-dark" routerLink="/contatos">Voltar</button>
      </div>

    </form>
  </div>
