<app-menu></app-menu>
<div class="container">
  <h1 class="title">Contatos de {{usuarioNome}} </h1>
  <div class="">
    <h3 class="" *ngIf="contactList.length == 0">NENHUM CONTATO CADASTRADO</h3>
    <div *ngIf="contactList.length > 0">
      <table class="tableConfig">
        <tr class="headerLine">
          <th class="tableCol1">NOME</th>
          <th class="tableCol2">E-MAIL</th>
          <th class="tableCol3">TELEFONE</th>
          <th class="tableCol3">ENDEREÇO</th>
        </tr>
        <tr class="contatoLine" *ngFor="let contact of contactList" (click)='Select(contact)'>
          <td class="tableCol1">{{contact.nome}}</td>
          <td class="tableCol2">{{contact.email}}</td>
          <td class="tableCol3">{{contact.telefone}}</td>
          <td class="tableCol3">{{contact.endereco}}</td>
        </tr>
      </table>
    </div>
    <br/>
    <button class="button is-link" routerLink="/cadastrarContato">Cadastrar Contato</button>
  </div>
</div>
