<div class="container">
  <!-- <H1>Contatos de {{ usuarioLogado.nome }}</H1> -->
  <H1>Contatos de --- Aqui vai o nome do usuário --- </H1>
  <div class="">
    <h3 class="" *ngIf="contactList.length == 0">NENHUM CONTATO CADASTRADO</h3>
    <div *ngIf="contactList.length > 0">
      <h3 class="">CONTATOS CADASTRADOS</h3>
      <table class="tableConfig">
        <tr class="headerLine">
          <th class="tableCol1">NOME</th>
          <th class="tableCol2">E-MAIL</th>
          <th class="tableCol3">TELEFONE</th>
          <th class="tableCol3">ENDEREÇO</th>
        </tr>
        <tr class="" *ngFor="let contact of contactList" (click)='Select(contact)'>
          <td class="tableCol1">{{contact.nome}}</td>
          <td class="tableCol2">{{contact.email}}</td>
          <td class="tableCol3">{{contact.telefone}}</td>
          <td class="tableCol3">{{contact.endereco}}</td>
        </tr>
      </table>
    </div>
    <br/>
    <button class="button is-link" routerLink="/cadastrarContato">Cadastrar Contato</button>
    <button class="button is-dark" routerLink="/compromissos">Ver Compromissos</button>
  </div>
</div>
